/* //////// RESETEO ////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Saira Condensed", sans-serif;
}

/* ///////// LAYOUT ///////// */
@media (min-width: 800px) {
  .header {
    background-color: #013dff;
    width: 100%;
    height: 400px;
    padding: 1rem;
  }
  .titulo {
    color: #ffffff;
    font-weight: bolder;
    font-size: 6.5rem;
    display: flex;
    padding: 1rem;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 120px;
    width: 100%;
    margin: 0;
  }
  .subtit {
    font-size: 3rem;
    display: flex;
    padding: 1rem;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    margin: 0;
  }
  .contacto {
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1rem;
    color: #d6d6d6;
    display: flex;
    justify-content: end;
  }
  .contacto span {
    margin: 6px;
  }
}
@media (min-width: 340px) and (max-width: 799px) {
  #navbarNav {
    padding-left: 1rem;
    display: flex;
    justify-content: center;
  }
  .header {
    background-color: #013dff;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  .titulo {
    color: #ffffff;
    font-weight: bolder;
    font-size: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .subtit {
    font-size: 2rem;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0;
  }
  .contacto {
    font-weight: 600;
    font-size: 1.2rem;
    color: #d6d6d6;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .contacto span {
    margin: 0.5rem;
  }
}
#navbarNav {
  padding: 1rem;
}

@media (min-width: 365px) and (max-width: 799px) {
  .menu {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: #013dff;
  }
  .menu ul {
    padding: 1rem;
    list-style: none;
    text-align: center;
  }
  .menu li {
    list-style-type: none;
  }
  .menu li a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
  }
}
@media (min-width: 800px) {
  .menu {
    font-weight: 600;
    font-size: 1.5rem;
    height: 100px;
    color: #d6d6d6;
  }
  .menu ul {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    justify-content: start;
    width: 100%;
  }
  .menu li {
    list-style-type: none;
  }
  .menu li a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
  }
}
/* ///////////////////// FOOTER /////////////////////////////
 */
@media (min-width: 365px) and (max-width: 799px) {
  .pie {
    list-style-type: none;
    padding: 2rem;
    background-color: #013dff;
  }
  .pie__titulo {
    margin: 0;
    font-size: 4rem;
    color: white;
    font-weight: bolder;
    height: 100px;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
  }
  .pie__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .pie__contacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
  }
  .pie__contacto span {
    margin-right: 1.5rem;
  }
}
@media (min-width: 800px) {
  .pie {
    list-style-type: none;
    background-color: #013dff;
    padding: 2rem;
  }
  .pie__titulo {
    font-size: 4rem;
    color: white;
    font-weight: bolder;
    /* height: 100px; */
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: end;
  }
  .pie__sub {
    display: flex;
    justify-content: end;
    text-align: end;
    font-size: 2rem;
    align-items: center;
    padding: 0;
  }
  .pie__contacto {
    display: flex;
    flex-flow: row wrap;
  }
  .pie__contacto span {
    display: flex;
    margin: 0;
    font-size: 1.2rem;
    align-items: center;
    justify-content: end;
    color: white;
  }
  .pie__contacto i {
    font-size: 1.2rem;
    color: white;
    padding: 0.5rem 1rem;
  }
}
/* ///// PAGINAS //// */
/* ------------- contacto --------------- */
@media (min-width: 800px) {
  .comunicate {
    display: grid;
    overflow: hidden;
    width: 100%;
    row-gap: 40px;
    grid-template-areas: "titulo titulo titulo" "imagen texto info";
  }
  .comunicate h1 {
    grid-area: titulo;
    display: flex;
    font-size: 3rem;
    padding: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .comunicate__img {
    grid-area: imagen;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 100%;
  }
  .comunicate__img span {
    font-size: 2rem;
  }
  .comunicate__img img {
    max-width: 100%;
    padding: 1rem;
  }
  .comunicate__text {
    grid-area: texto;
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 100%;
    border: 1px dotted;
  }
  .comunicate__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
  }
  .comunicate__info input {
    max-width: 100%;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .comunicate h1 {
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .comunicate__img {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  .comunicate__img span {
    font-size: 2rem;
  }
  .comunicate__img img {
    object-fit: cover;
    max-width: 100%;
    padding: 1rem;
  }
  .comunicate__text {
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 100%;
    border: 1px dotted;
  }
  .comunicate__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
  }
  .comunicate__info input {
    max-width: 100%;
  }
}
@media (min-width: 800px) {
  .informatico {
    padding: 1rem;
  }
  .informatico h1 {
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    text-align: center;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .informatico__caja {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    align-content: center;
    text-align: center;
  }
  .informatico__img {
    max-width: 33%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .informatico span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  .experiencia h2 {
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #013dff;
    color: #ffffff;
  }
  .experiencia__caja {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    justify-content: space-evenly;
    align-content: center;
  }
  .experiencia__user {
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    max-width: 50%;
  }
  .experiencia__user img {
    max-width: 250px;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .informatico {
    padding: 1rem;
  }
  .informatico h1 {
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .informatico__caja {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    align-content: center;
    text-align: center;
  }
  .informatico__caja__img {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: 2rem;
  }
  .informatico__caja span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
  }
  .experiencia h2 {
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #013dff;
    color: #ffffff;
    width: 100%;
  }
  .experiencia__caja {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    justify-content: center;
    max-width: 100%;
    align-content: center;
  }
  .experiencia__user {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
  }
  .experiencia__user img {
    width: 100%;
  }
  .experiencia__user p {
    font-size: 1rem;
    width: 100%;
  }
}
@media (min-width: 800px) {
  .servicios h1 {
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .servicios__caja {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }
  .servicios img {
    max-width: 33%;
    padding: 1rem;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .servicios h1 {
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .servicios__caja {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    justify-content: center;
  }
  .servicios__img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;
  }
}
@media (min-width: 800px) {
  .galeria {
    display: grid;
    overflow: hidden;
    width: 100%;
    row-gap: 0px;
    grid-template-areas: "titulo titulo titulo" "video video vertical1" "video video vertical2" "horizon1 horizon2 vertical3";
  }
  .galeria img {
    max-width: 400px;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
  .galeria img:hover {
    transform: scale(1.1);
    box-shadow: 0px 9px 28px 3px rgba(0, 0, 0, 0.9);
  }
  .galeria h1 {
    grid-area: titulo;
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .galeria__video {
    grid-area: video;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .galeria__video video {
    transition: 0.5s;
    width: 100%;
    height: 400px;
  }
  .galeria__video video:hover {
    transform: scale(1.1);
    box-shadow: 0px 9px 28px 3px rgba(0, 0, 0, 0.9);
  }
  .galeria__img1 {
    grid-area: vertical1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .galeria__img2 {
    grid-area: vertical2;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .galeria__img3 {
    grid-area: vertical3;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .galeria__img4 {
    grid-area: horizon1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .galeria__img5 {
    grid-area: horizon2;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .galeria h1 {
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .galeria img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .galeria__video {
    object-fit: cover;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .galeria__video video {
    width: 100%;
    height: 300px;
  }
  .galeria__img1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .galeria__img2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .galeria__img3 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .galeria__img4 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .galeria__img5 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
.nosotros h1 {
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.nosotros h2 {
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #013dff;
  color: #ffffff;
}
.nosotros p {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  text-align: justify;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .nosotros h1 {
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .nosotros h2 {
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .nosotros p {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: justify;
    padding: 1rem 2.25rem 2rem 2.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
