/* /////////////// FORM //////////////////////
 */
 
.contacto form 
{

        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 1rem;
    
}


@media (min-width:1024px) { 

.contacto form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;

}

}